

<!DOCTYPE html>
<html>
<head>
    <title>Project Help me I have coded way too much</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <div class="logo">Maps of uhh usign leaflet</div>
                <ul class="nav-links">

                <li><a id="a-linkA" href="{{ url_for('index') }}">Home</a></li>
                <li><a id="a-linkA" href="{{ url_for('about') }}">About</a></li>
                <li><a id="a-linkA" href="{{ url_for('maps') }}">maps</a></li>
                <li><a id="a-linkA" href="{{ url_for('ai') }}">ai</a></li>
 

                </ul>
        </div>
    </nav>
    <div id="map"></div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="/static/js/map.js"></script>
</body>
</html>

